.App {
  text-align: center;
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  overflow-x: hidden;
  background-attachment: fixed;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffffb8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*SIDEBAR*/
.navbar {
  width: 100%;
  transform: translateX(30px);
  height: 50px;
}
.navbar1 {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 1300px;
  transform: translateY(-55px);
  background-color: rgb(18, 18, 18);
  min-width: 260px;
  max-width: 270px;
}
#imageS {
  height: 40px;
  transform: translateX(-20px);
}

#verticalMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 10px;
}

.inline {
  display: inline;
  margin-left: -12px;
}

#firstIcon {
  transform: translateY(-10px);
  scale: 85%;
}
#secondIcon {
  transform: translateY(-7px);
  scale: 80%;
}
#thirdIcon {
  transform: translateY(-7px);
  margin-left: -5px;
}

.plus {
  height: 30px;
  width: 30px;
  margin-right: 16px;
  margin-left: 3px;
}
.plus1,
span {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  color: rgb(169, 170, 170);
  font-weight: bold;
  position: relative;
}

svg {
  margin-top: 10px;
}

a {
  color: #ffffffb8;
  text-decoration: none;
}
a:hover {
  color: rgb(208, 211, 211);
  text-decoration: none;
}
.bi {
  transform: translateY(-13px);
  margin-left: -5px;
}

.sideList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #ffffffb8;
  text-align: start;
  margin-left: 12px;
}

.sideList ul li:hover {
  cursor: pointer;
}

/*END SIDEBAR*/

/*START NAVBAR*/
.directions {
  display: flex;
  flex-direction: row;
}
.roundButton {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  background-color: black;
  transform: translateX(10px);
  height: 40px;
  width: 40px;
}
.roundButton1 {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  background-color: black;
  transform: translateX(10px);
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.arrows-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
}

#dropdownMenuButton {
  background-color: black;
  color: #ffffffb8;
  font-weight: bolder;
  border-radius: 30px;
}
#profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

nav {
  background-color: rgba(18, 18, 18, 0);
}
#navRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateX(-200px);
}
#dropdown {
  background-color: rgb(18, 18, 18);
  font-weight: bolder;
  padding-left: 20px;
}
#dropdown small {
  color: aliceblue;
  font-weight: 500;
}
#dropdown small:hover {
  background-color: rgb(61, 60, 60);
}

.dropdown {
  margin-top: 5px;
}

/*MAIN*/

main {
  margin-bottom: 30px;
  margin-bottom: 30px;
  position: absolute;
  top: 50px;
  left: 300px;
  background-color: transparent;
  height: 100%;
  overflow: auto;

}

main::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/*FIRST ROW*/
.morning-wrapper {
  margin: 20px;
  background-color: transparent;
}

.morning-wrapper .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.morning-wrapper .column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;

  background: rgba(59, 38, 37, 0.61);
  border-radius: 3px;
  box-shadow: 5px 6px 15px -3px rgba(26, 26, 26, 0.1);

  /* -webkit-backdrop-filter: blur(5px); */
  margin: 0px 10px;
}

.red-column img {
  height: 100%;
  width: 65px;
  object-fit: cover;
  box-shadow: 0px 12px 18px -9px rgba(0, 0, 0, 0.82);
  border-radius: 3px;
}

.red-column p {
  display: inline-block;
  color: white;
  margin-left: 6px;
}

.morning-wrapper .row:last-of-type {
  margin-top: 18px;
}

@media only screen and (max-width: 768px) {
  .morning-wrapper .column {
    display: block;
    margin-top: 10px;
    width: 100vh;
    column-count: 4;
  }

  .red-column {
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .morning-wrapper .column {
    display: block;
    margin-top: 10px;
    width: 100vh;
  }

  .red-column {
    width: 200px;
  }

  .red-column img {
    margin-left: -50px;
  }
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 40px;
}

.titles h3 {
  margin-left: 27px;
  color: white;
  margin-bottom: 0px;
}

.titles h1 {
  margin-left: 27px;
  color: white;
  margin-bottom: 0px;
}

.titles h6 {
  margin-right: 27px;
  color: rgba(255, 255, 255, 0.671);
  margin-bottom: 0px;
  align-self: flex-end;
}

.titles + p {
  margin-left: 27px;
  color: rgba(255, 255, 255, 0.671);
  text-align: start;
}

.column {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.column:hover,
.column:focus,
.column:active {
  background: linear-gradient(
    112deg,
    rgba(17, 17, 17, 0.686) 0%,
    rgba(14, 9, 8, 0.748) 100%
  ) !important;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.column:not(:hover) {
  filter: blur(0px);
}

/*SECOND AND THIRD ROW*/
.some-page-wrapper {
  margin: 20px;
  background-color: transparent;
}

.some-page-wrapper .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.some-page-wrapper .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  background: rgba(30, 30, 30, 0.63);
  border-radius: 7px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  /*  -webkit-backdrop-filter: blur(5.2px); */
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px 7px;
}

.blue-column {
  background-color: transparent;
  height: 200px;
  width: 100%;
}

.blue-column img {
  height: 110px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 12px 18px -9px rgba(0, 0, 0, 0.82);
  border-radius: 3px;
}

.blue-column p {
  margin-top: 25px;
  font-weight: 700;
  color: white;
  text-align: start;
}

@media (max-width: 425px) {
  .some-page-wrapper .row {
    width: 100vh;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .some-page-wrapper .column {
    flex-basis: 0%;
    flex: none;
    margin: 5px 7px;
  }
}

/*SEARCH PAGE*/

#search-card {
  background: rgba(30, 30, 30, 0.63);
  border-radius: 7px !important;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  padding: 9px;
  color: white;
}

#root > div > main > div > form > input {
  background-color: #1818188f;
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
}

#root > div > main > div > form > input::placeholder {
  color: rgba(252, 252, 252, 0.601);
}

#root > div > main > div > form > input:focus {
  outline: none;
  box-shadow: none;
}

.card-img-top {
  box-shadow: 0px 12px 18px -9px rgba(0, 0, 0, 0.82);
  border-radius: 10px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card-body > a {
  color: white;
}

.card-body > a:hover {
  text-decoration: none;
  color: #181818;
}

/*ALBUM PAGE*/

#album-card {
  background-color: transparent !important;
  border: none;
  flex-direction: row;
}

#album-card > .card-img-top {
  background-color: none;
  width: 400px;
}

#album-card-body {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#album-card-text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  font-weight: 600;
    color: #181818bf;
}

#album-card-body > .card-title {
  font-size: 3rem;
  text-align: initial;
  max-width:fit-content;
}

#album-card-text > img {
  border-radius: 50%;
  width: 40px;
}

/*PLAYLIST ALBUM PAGE*/

.playlist-info {
  border-bottom: 1px solid #dfd2d2;
}

.playlist-info:hover {
  background-color: transparent !important;
}
#playlist-column , #playlist-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-top:7px;
 
}

#playlist-info{
  border-bottom: #181818;
}

#playlist-info:hover{
  color:#181818;
}

#playlist-column:hover {
  background: rgba(59, 38, 37, 0.61);
  border-radius: 3px;
  box-shadow: 10px 20px 15px -3px rgba(26, 26, 26, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

#playlist-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#181818;
}

#playlist-hash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#181818;
}

#playlist-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#181818;
  width: max-content;
  margin-top: 0px;
  margin-bottom: 0px;;
}

#playlist-song:hover {
  color: white;
  cursor:pointer;
}

#playlist-song h5 {
  margin: auto;
}
#playlist-time .bi {
  margin: auto;
}
